*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}
:root{
	--bg-color: #16003b;
	--text-color: #fff;
	--secound-color: #413f42;
	--main-color: #f73d93;
	--h2-font: 45px;
	--p-font: 20px;
}
*::selection{
    background:var(--bg-color);
    color:#333;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width:1.4rem;
}
html::-webkit-scrollbar-track{
    background:#222;
}
html::-webkit-scrollbar-thumb{
    background:var(--bg-color);
}
body{
    background: var(--bg-color);
	color: var(--text-color);
    overflow-x: hidden;
    padding-left: 35rem;
}
section{
    min-height: 95vh;
    padding:1rem;
}
.btn{
    padding:.7rem 3rem;
    background: var(--secound-color);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}
.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}
.btn:hover{
    background:var(--main-color);
}
header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background-color: var(--secound-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
header .user img{
    height:17rem;
    width:17rem;
	border-radius: 10px;
	border: .7rem solid #000;
    object-fit: cover;
    margin-bottom: 1rem;
}
header .user .name{
    font-size: 3.5rem;
    color: #000;
}
header .user .post{
    font-size: 2rem;
    color: #000;
}
header .navbar{
    width:100%;
}
header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}
header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background: #7f8487;
    color: #000;
    font-size: 2rem;
    border-radius: 5rem;
}
header .navbar ul li a:hover{
    background:var(--main-color);
}

section{
	background: #16003b;
}
.home{
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding-left: 150px;
}
.home-text h1{
	margin: 10px 0px 25px;
	font-size: 55px;
	line-height: 1;
	font-weight: 450;
}
.home-text h5{
	margin-bottom: 23px;
	font-size: 19px;
	font-weight: 500;
}
.home-text h3{
	color: var(--main-color);
	font-size: 25px;
	font-weight: 500;
}
.home-text p{
	font-size: 20px;
	color: var(--main-color);
	line-height: 28px;
	margin-bottom: 20px;
	text-align: justify;
}
.social a{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #7f8487;
	font-size: 17px;
	color: var(--bg-color);
	margin-right: 22px;
	margin-bottom: 50px;
}
.social a:hover{
	transform: scale(1.1);
	background: var(--main-color);
	transition: .5s;
}
.top-btn {
	border-radius: 30px;
	background-color: var(--main-color);
	border: none;
	color: #000;
	text-align: center;
	font-size: 18px;
	padding: 15px 30px;
}
.top-btn:hover{
	background-color: #f581d0;
} 
.about{
	padding-left: 100px;
	padding-right: 50px;
}
.about-text h2{
	font-size: var(--h2-font);
	font-weight: 500;
	color: var(--main-color);
	margin: 21px 0px 35px;
	line-height: 1.1;
    border-bottom: .1rem solid #fff4;
}
.about-text h3{
	color: #7f8487;
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 25px;
}
.about-text p{
	text-align:justify;
	font-size: var(--p-font);
	color: var(--text-color);
	line-height: 28px;
	margin-bottom: 45px;
}
.intro{
	height: 35px;
	justify-content:left;
	font-size: 21px;
	line-height: 2.5;
}
.intro :active, .intro :hover{
	color:var(--main-color);
}

.skills{
	padding-left: 100px;
	padding-right: 50px;
}
.skills .row{
	margin: 1rem 0;
}
.skills .item{
	margin: 6.3rem 0;
}
.skills .item-text{
	display: flex;
	justify-content: flex-start;
	font-weight: 500;
	color: var(--text-color);
	font-size: 1.5rem;
}
.skills .item-text .w-85{
	margin-left: 80%;
}
.skills .item-text .w-80{
	margin-left: 75%;
}
.skills .item-text .w-60{
	margin-left: 55%;
}
.skills .item-text .w-68{
	margin-left: 63%;
}
.progress{
	margin: 0.8rem 0;
	border-radius: 10px;
	height: 16px;
	width: 100%;
	background-color: #7f8487;
	overflow: hidden;
}
.progress-bar{
	background-color: var(--main-color);
	height: 100%;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.progress-bar.w-85{
	width: 85%;
	transition: all 0.5s;
}
.progress-bar.w-85:hover{
	background-color: var(--text-color);
}
.progress-bar.w-80{
	width: 80%;
	transition: all 0.5s;
}
.progress-bar.w-80:hover{
	background-color: var(--text-color);
}
.progress-bar.w-60{
	width: 60%;
	transition: all 0.5s;
}
.progress-bar.w-60:hover{
	background-color: var(--text-color);
}
.progress-bar.w-68{
	width: 68%;
	transition: all 0.5s;
}
.progress-bar.w-68:hover{
	background-color: var(--text-color);
}
.title{
	font-size: var(--h2-font);
	font-weight: 500;
	color: var(--main-color);
	margin: 21px 0px 35px;
	line-height: 1.1;
    border-bottom: .1rem solid #fff4;
}
.portfolio{
	padding-left: 100px;
}
.heading{
	font-size: var(--h2-font);
	font-weight: 500;
	color: var(--main-color);
	margin: 21px 0px 10px;
	line-height: 1.1;
    border-bottom: .1rem solid #fff4;
}
.portfolio .box-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
	padding-left: -150px	;
}
.portfolio .box-container .box{
  float: right;
  width: 45%;
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
  transition: 0.5s all ease-in-out;
}
.portfolio .box-container .box:hover{
	border: 1px solid var(--main-color);
	transform: scale(1.03);
}
.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.portfolio .box-container .desc{
	font-size: 20px;
	color: var(--text-color);
	padding: 10px;
	text-align: center;
}
.contact{
	background: var(--text-color);
	width: 64%; 
	min-height: 0;
	margin: 140px ;
	padding: 70px 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 12px;
	background-image: url(../images/intro.png);
}
.center h3{
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 3px;
	color: var(--main-color);
}
.center p{
	font-size: var(--p-font);
	color: var(--main-color);
	line-height: 26px;
	margin-bottom: 25px;
}
.contact .action form input[type="email"] {
	max-width: 100%;
	width: 470px;
	padding: 12px 15px;
	background: var(--secound-color);
	color: var(--text-color);
	border: none;
	outline: none;
	margin: 0 10px 20px 0;
	border-radius: 5px;
}
.contact .action form .box::placeholder{
    text-transform: capitalize;
}
.contact .action form .message{
    height: 15rem;
    resize: none;
	max-width: 100%;
	width: 470px;
	padding: 12px 15px;
	background: var(--secound-color);
	color: var(--text-color);
	border: none;
	outline: none;
	margin: 0 10px 20px 0;
	border-radius: 5px;
	text-align: start;
}


